DCT_IMG_IN_IMG 1
DCT_TXT_IN_IMG 1
DCT_AUDIO_IN_IMG 1
DCT_IMG_IN_AUDIO 0
DCT_TXT_IN_AUDIO 0
DCT_AUDIO_IN_AUDIO 0
LSB_IMG_IN_IMG 1
LSB_TXT_IN_IMG 0
LSB_AUDIO_IN_IMG 0
LSB_IMG_IN_AUDIO 1
LSB_TXT_IN_AUDIO 0
LSB_AUDIO_IN_AUDIO 0
ECHO_IMG_IN_IMG 0
ECHO_TXT_IN_IMG 0
ECHO_AUDIO_IN_IMG 0
ECHO_IMG_IN_AUDIO 1
ECHO_TXT_IN_AUDIO 1
ECHO_AUDIO_IN_AUDIO 0
